<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Heebo:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="/node_modules/aos/dist/aos.css" />
    <title>Legato| For everyday people</title>
    <section>
      <nav class="navigation" >
        <a href="/"><img class="nav-logo" src="Assets/Asset 1@2x-8.png"></a>
        <ul class="nav-elements" id="nav-linking">
          <a href=""><li>Download</li></a>
          <a href=""><li>Plans</li></a>
          <a href="/support"><li>Support</li></a>
          <a id="login"><li>Login/Register</li></a>
        </ul>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </section>
  </head>
  <body >
    <section>
    <div class="first-jumbotron" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-8 background-1"></div>
            <div class="col-lg-4 background-1-title ">
              <div class="background-1-text ">Your destination for Songs and podcasts.</div>
              <div class="background-1-subtext ">Over a million songs in over 50 languages and your favourite podcasts, all in one app.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="intro">
    <div class="intro-text">
      <h1 class="hide">
        <img class="intro-logo" src="Assets/Asset 5@2x-8.png">
      </h1>
      <h1 class="hide">
        <span class="text">For Everyday People</span>
      </h1>
    </div>
  </div>
  <div class="slider"></div>
  <section>
    <div class="login-popup" >
      <div class="login-container" >
        <img class="login-close" id="close" src="Assets/cancel.svg">
        <center><img class="login-logo" src="Assets/Asset 1@2x-8.png"></center>
        <p><label class="login-label">Username</label></p>
        <p><input type="text" placeholder="Username" class="login-text">
        </p>
        <p><label class="login-label">Password</label></p>
        <p><input type="password" placeholder="Password" class="login-text">
        </p>
        <p><input type="submit" value="Submit" class="login-submit"></p>
        <p><a class="cant-sign-in">Cant sign in? </a>&nbsp; &nbsp;<a class="register">Register</a></p>
      
      </div>
        
    </div>
  </section>
  <section>
    <div class="second-jumbotron"data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7 order-md-2 order-lg-1 order-2 background-2-title">
            <div class="background-2-text ">Customizable playlists. </div>
              <div class="background-2-subtext ">Download all you favourite music offline and play it during your morning workout. With its organisable playlist feature , you can select the list of songs you want to run on a loop and save it for quick access.</div>
          </div>
            <div class="col-lg-5 order-md-1 order-lg-2 order-1 ">
              <img class="background-2-image" src="Assets/undraw_walk_in_the_city_1ma6.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="third-jumbotron" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7 order-lg-1 order-sm-1  order-1 ">
            <img class="background-3-image" src="Assets/undraw_audio_player_yty9.svg">
          </div>
            <div class="col-lg-5 order-lg-2 order-sm-2 order-2 ">
              
              <div class="background-3-text background-3-title" >Neat and Clean UI. </div>
              <div class="background-3-subtext ">Straight forward User interface and a clean experience for the users. Members get additional features into the application and are allowed to share their playlists with others.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="fourth-jumbotron"div data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7 order-lg-1 order-sm-2  order-2  ">
          
            <div class="background-4-text background-4-title" > Privacy and Security.</div>
              <div class="background-4-subtext ">Straight forward User interface and a clean experience for the users. Members get additional features into the application and are allowed to share their playlists with others.</div>
          </div>
            <div class="col-lg-5 order-lg-2 order-sm-1  order-1  ">
              <img class="background-4-image" src="Assets/undraw_Security_on_ff2u.svg">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="fifth-jumbotron"data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600" >
      <div class="container-fluid">
        <center>
          <img class="os-logos" src="Assets/logos.png">
          <div class="background-5-text background-5-title" > Available for Windows, Mac and Linux</div>
              <div class="background-5-subtext ">Also available for Andriod, IOS and Android TV as well.</div>
              <button class="download-button">Download</div>
        </center>
        
        </div>
      </div>
  </section>
  <section>
    <div class="footer">
        <div class="container">
            <div class="row">
              <div class="col-lg-3" >
                <img class="white-logo" src="Assets/Asset 1@2x-8.png">
              </div>  
              <div class="col-lg-3">
                    <ul class="footer-elements ">
                        <li><b>Get to know us:</b></li>
                        <li>About Us</li>
                        <li>Pricing plans</li>

                    </ul>
                </div>

                <div class="col-lg-3">
                    <ul class="footer-elements">
                        <li><b>Contact us:</b></li>
                        <li>Vendors</li>
                        <li>Investors</li>
                        <li>Advertisements </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="footer-elements-2">
                        <li><img class="footer-icons" src="Assets/facebook.ico"> </li>
                        <li><img class="footer-icons" src="Assets/instagram.ico"> </li>
                        <li><img class="footer-icons" src="Assets/linkedin.ico"> </li>
                    </ul>
                </div>
            </div>

        </div>
</section>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script src="../js/app.js"></script>
    <script src="../js/stickybar.js"></script>
    <script src="../js/intro-animation.js"></script>
    <script  src="../js/login.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>