<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Heebo:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/support.css">
    <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />
    <title>Legato| Support</title>
    <section>
      <nav class="navigation" >
        <a href="/"><img class="nav-logo" src="Assets/Asset 1@2x-8.png"></a>
        <ul class="nav-elements" id="nav-linking">
          <a href=""><li>Download</li></a>
          <a href=""><li>Plans</li></a>
          <a href="/support"><li>Support</li></a>
          <a href=""><li>Login/Register</li></a>
        </ul>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>
    </section>
  </head>
  <body>
      <section>
          <div class="info-jumbotron">
              <div class="container-fluid">
                      <div class="heading">
                          <p>Support</p>
                      </div>
                      <div class="details">
                     
                        <div class="row">
                            <div class="col-lg-6">
                            <ul class="sub-contents">
                                <a href="#"><li style="letter-spacing:4px; text-transform:uppercase">Account and Payments</li></a>
                                <a href="#"><li>Not able to sign in ?</li></a>
                                <a href='#'><li>Verification failed</li></a>
                                <a href="#"><li>Plan activation issues</li></a>
                                <a href="#"><li>Device Compatibility</li></a>
                                
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="sub-contents">
                                <a href="#"><li style="letter-spacing:4px; text-transform:uppercase">Using legato</li></a>
                                <a href="#"><li>Tutorials</li></a>
                                <a href='#'><li>Getting started</li></a>
                                <a href="#"><li>Playlists</li></a>
                                <a href="#"><li>Features</li></a>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="sub-contents">
                                <a href="#"><li style="letter-spacing:4px; text-transform:uppercase">Devices </li></a>
                                <center></center><a href="#"><li>Phone</li></a>
                                <a href='#'><li>watch</li></a>
                                <a href="#"><li>TV</li></a>
                                <a href="#"><li>Tablet</li></a>
                                <a href="#"><li>Laptop/Computer</li></a>
                            </ul>
                        </div> 
                        
                       
                    </div>
                  </div>
                  </div>
          </div>
      </section>
    <section>
        <div class="footer">
            <div class="container">
                <div class="row">
                  <div class="col-lg-3" >
                    <img class="white-logo" src="Assets/Asset 1@2x-8.png">
                  </div>  
                  <div class="col-lg-3">
                        <ul class="footer-elements ">
                            <li><b>Get to know us:</b></li>
                            <li>About Us</li>
                            <li>Pricing plans</li>
    
                        </ul>
                    </div>
    
                    <div class="col-lg-3">
                        <ul class="footer-elements">
                            <li><b>Contact us:</b></li>
                            <li>Vendors</li>
                            <li>Investors</li>
                            <li>Advertisements </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <ul class="footer-elements-2">
                            <li><img class="footer-icons" src="Assets/facebook.ico"> </li>
                            <li><img class="footer-icons" src="Assets/instagram.ico"> </li>
                            <li><img class="footer-icons" src="Assets/linkedin.ico"> </li>
                        </ul>
                    </div>
                </div>
    
            </div>
    </section>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script src="../js/app.js"></script>
    <script src="../js/stickybar.js"></script>
    <script src="../js/intro-animations.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>